<!--
 * @Author: shuhua
 * @Date: 2021-12-10 18:16:25
 * @LastEditTime: 2021-12-14 18:23:52
 * @LastEditors: shuhua
 * @Description: 
 * @FilePath: \my-node-project\views\regist.ejs
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>注册</title>
</head>
<body>
  <h3>注册</h3>
  <form action="/regist" methos="post">
    <input type="text" name="username" value="" placeholder="请输入用户名"></input>
    <input type="password" name="password" value="" placeholder="请输入密码"></input>
    <input type="password" name="password2" value="" placeholder="请输入密码"></input>
    <input type="submit" name="" value="注册"></input>
  </form>
  <div>已有账号<a href="/login"></a></div>
</body>
</html>